*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',Arial,sans-serif;
    background:#050d18;
    color:#fff;
    line-height:1.6;
}

a{
    color:inherit;
    text-decoration:none;
}

button,
input,
textarea{
    font-family:inherit;
}


/* ================= NAVBAR ================= */

.navbar{
    position:sticky;
    top:0;
    z-index:1000;

    height:75px;
    padding:0 7%;

    display:flex;
    align-items:center;
    justify-content:space-between;

    background:rgba(5,13,24,.92);
    border-bottom:1px solid rgba(0,212,255,.18);

    backdrop-filter:blur(15px);
}

.logo{
    font-size:25px;
    font-weight:800;
}

.logo span,
.footer-top span{
    color:#00c8ff;
}

.nav-links{
    display:flex;
    gap:32px;
    list-style:none;
}

.nav-links a{
    color:#b9c4d2;
    font-size:14px;
    transition:.3s;
}

.nav-links a:hover{
    color:#00c8ff;
}

.nav-btn{
    padding:10px 19px;
    border-radius:25px;

    background:#087df5;
    font-size:13px;
    font-weight:600;

    transition:.3s;
}

.nav-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 25px rgba(0,125,245,.35);
}

.menu-btn{
    display:none;
    font-size:25px;
    cursor:pointer;
}


/* ================= GENERAL ================= */

.section{
    padding:110px 8%;
}

.section-heading{
    text-align:center;
    margin-bottom:60px;
}

.section-heading > p:first-child{
    color:#00c8ff;
    font-size:12px;
    letter-spacing:3px;
    font-weight:700;
    margin-bottom:10px;
}

.section-heading h2{
    font-size:40px;
    line-height:1.2;
}

.section-heading h2 span{
    color:#00c8ff;
}

.section-description{
    max-width:650px;
    margin:15px auto 0;
    color:#8e9bab;
}


/* ================= HERO ================= */

.hero{
    min-height:calc(100vh - 75px);

    padding:70px 8%;

    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:50px;

    background:
        radial-gradient(circle at 75% 35%,
        rgba(0,160,255,.16),
        transparent 35%);
}

.hero-content{
    max-width:650px;
}

.small-heading{
    color:#00c8ff;
    font-size:14px;
    letter-spacing:1px;
    margin-bottom:15px;
}

.hero h1{
    font-size:76px;
    line-height:1;
    margin-bottom:15px;
    font-weight:800;
}

.hero h1 span{
    color:#00c8ff;
}

.hero h2{
    font-size:27px;
    margin-bottom:20px;
}

.hero-description{
    color:#aeb9c7;
    font-size:17px;
    max-width:560px;
}

.hero-buttons{
    display:flex;
    gap:15px;
    margin-top:30px;
}

.primary-btn,
.secondary-btn{
    display:inline-flex;
    justify-content:center;
    align-items:center;

    min-height:46px;
    padding:0 22px;

    border-radius:9px;

    font-size:13px;
    font-weight:700;

    transition:.3s;
}

.primary-btn{
    background:#087df5;
    color:#fff;
    border:1px solid #087df5;
}

.primary-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 12px 30px rgba(0,125,245,.3);
}

.secondary-btn{
    border:1px solid #167bb0;
    color:#dce8f4;
}

.secondary-btn:hover{
    border-color:#00c8ff;
    color:#00c8ff;
    transform:translateY(-3px);
}

.tech-list{
    display:flex;
    gap:25px;
    margin-top:35px;
    color:#9daabd;
    font-size:13px;
}

.hero-image{
    position:relative;
    width:370px;
    height:430px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-image img{
    position:relative;
    z-index:2;

    width:330px;
    height:390px;

    object-fit:cover;

    border-radius:18px;

    border:1px solid rgba(0,212,255,.2);

    box-shadow:
        0 25px 70px rgba(0,0,0,.55),
        0 0 50px rgba(0,160,255,.15);
}

.image-glow{
    position:absolute;

    width:270px;
    height:270px;

    background:#008cff;
    filter:blur(110px);
    opacity:.18;
}


/* ================= ABOUT ================= */

.about{
    background:#07111e;
}

.about-grid{
    max-width:1100px;
    margin:auto;

    display:grid;
    grid-template-columns:1.4fr .8fr;
    gap:70px;
    align-items:center;
}

.about-text > p{
    color:#aab6c5;
    margin-bottom:20px;
}

.about-points{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:12px;

    margin:30px 0;
}

.about-points div{
    color:#cbd5e1;
    font-size:14px;
}

.about-points div::first-letter{
    color:#00c8ff;
}

.about-card{
    padding:30px;

    background:linear-gradient(145deg,#0c1b2c,#091321);

    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;

    box-shadow:0 20px 50px rgba(0,0,0,.2);
}

.info-row{
    display:flex;
    gap:15px;
    align-items:center;

    padding:17px 0;

    border-bottom:1px solid rgba(255,255,255,.06);
}

.info-row:last-child{
    border-bottom:0;
}

.info-row > span{
    font-size:21px;
}

.info-row small{
    display:block;
    color:#728197;
    font-size:11px;
}

.info-row strong{
    display:block;
    color:#e8eef6;
    font-size:14px;
}


/* ================= SKILLS ================= */

.skills{
    background:#050d18;
}

.skills-grid{
    max-width:1100px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.skill-card{
    padding:30px 20px;

    text-align:center;

    background:#091625;

    border:1px solid rgba(255,255,255,.07);
    border-radius:14px;

    transition:.3s;
}

.skill-card:hover{
    transform:translateY(-7px);
    border-color:#087df5;
    box-shadow:0 15px 35px rgba(0,125,245,.12);
}

.skill-icon{
    width:55px;
    height:55px;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:0 auto 18px;

    border-radius:12px;

    background:#122b46;
    color:#ff751f;

    font-weight:800;
    font-size:14px;
}

.skill-icon.css{
    color:#168cff;
}

.skill-icon.js{
    color:#ffd600;
}

.skill-card h3{
    font-size:17px;
}

.skill-card p{
    color:#77879b;
    font-size:12px;
    margin-top:5px;
}


/* ================= PROJECTS ================= */

.projects{
    background:#07111e;
}

.project-filters{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-top:35px;
    flex-wrap:wrap;
}

.filter{
    border:1px solid #20354c;
    background:#091625;
    color:#8797aa;

    padding:9px 17px;
    border-radius:20px;

    cursor:pointer;
}

.filter.active,
.filter:hover{
    background:#087df5;
    color:white;
    border-color:#087df5;
}

.projects-grid{
    max-width:1100px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
}

.project-card{
    overflow:hidden;

    background:#091625;

    border:1px solid rgba(255,255,255,.07);
    border-radius:15px;

    transition:.35s;
}

.project-card:hover{
    transform:translateY(-8px);
    border-color:#087df5;
}

.project-image{
    height:190px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#06101d,#0c3c75);

    border-bottom:1px solid rgba(255,255,255,.07);
}

.project-image span{
    font-size:24px;
    font-weight:800;
    color:#fff;
}

.project-image small{
    color:#55cfff;
    margin-top:8px;
}

.restaurant-preview{
    background:linear-gradient(135deg,#1b120b,#713d12);
}

.calculator-preview{
    background:linear-gradient(135deg,#101b31,#182c62);
}

.quiz-preview{
    background:linear-gradient(135deg,#24133b,#54248a);
}

.project-content{
    padding:22px;
}

.project-content h3{
    font-size:20px;
}

.project-content p{
    color:#8796a8;
    font-size:13px;
    margin:10px 0 17px;
}

.project-tech{
    display:flex;
    gap:7px;
    flex-wrap:wrap;
}

.project-tech span{
    padding:5px 9px;
    border-radius:5px;

    background:#10253b;
    color:#59cfff;

    font-size:10px;
}

.project-buttons{
    display:flex;
    gap:10px;
    margin-top:20px;
}

.small{
    min-height:38px;
    padding:0 14px;
    font-size:11px;
}


/* ================= SERVICES ================= */

.services{
    background:#050d18;
}

.services-grid{
    max-width:1100px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.service-card{
    padding:28px;

    background:#091625;

    border:1px solid rgba(255,255,255,.07);
    border-radius:14px;

    transition:.3s;
}

.service-card:hover{
    transform:translateY(-6px);
    border-color:#087df5;
}

.service-icon{
    font-size:25px;
    margin-bottom:15px;
}

.service-card h3{
    font-size:16px;
}

.service-card p{
    color:#7f8da0;
    font-size:12px;
    margin-top:8px;
}

.custom-cta{
    max-width:900px;
    margin:60px auto 0;

    text-align:center;

    padding:40px;

    background:
        linear-gradient(135deg,
        rgba(0,119,255,.22),
        rgba(0,198,255,.06));

    border:1px solid rgba(0,198,255,.18);
    border-radius:18px;
}

.custom-cta h3{
    font-size:25px;
}

.custom-cta p{
    color:#8d9bae;
    margin:10px 0 22px;
}


/* ================= JOURNEY ================= */

.journey{
    background:#07111e;
}

.journey-grid{
    max-width:1050px;
    margin:auto;

    display:grid;
    grid-template-columns:.8fr 1.2fr;
    gap:60px;
    align-items:center;
}

.journey-image img{
    width:100%;
    max-width:380px;
    height:370px;

    object-fit:cover;

    border-radius:18px;

    border:1px solid rgba(0,198,255,.15);
}

.journey-text h3{
    font-size:28px;
    margin-bottom:20px;
}

.journey-text p{
    color:#8997a8;
    margin-bottom:15px;
}

.stats{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
    margin-top:30px;
}

.stats div{
    padding:20px;
    text-align:center;

    background:#091625;
    border:1px solid rgba(255,255,255,.07);
    border-radius:12px;
}

.stats strong{
    display:block;
    color:#00c8ff;
    font-size:25px;
}

.stats span{
    color:#718196;
    font-size:11px;
}


/* ================= TRUST ================= */

.trust{
    background:#050d18;
}

.trust-grid{
    max-width:1050px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.trust-card{
    padding:30px;

    background:#091625;

    border:1px solid rgba(255,255,255,.07);
    border-radius:14px;
}

.trust-card > span{
    color:#087df5;
    font-size:13px;
    font-weight:800;
}

.trust-card h3{
    margin:15px 0 10px;
}

.trust-card p{
    color:#7f8da0;
    font-size:13px;
}


/* ================= CONTACT ================= */

.contact{
    background:#07111e;
}

.contact-grid{
    max-width:1050px;
    margin:auto;

    display:grid;
    grid-template-columns:.8fr 1.2fr;
    gap:50px;
}

.contact-info{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.contact-item{
    display:flex;
    gap:16px;
    align-items:center;
}

.contact-item > span{
    width:45px;
    height:45px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:10px;

    background:#0d243b;
}

.contact-item small{
    display:block;
    color:#68798d;
    font-size:11px;
}

.contact-item strong,
.contact-item a{
    display:block;
    color:#dce7f3;
    font-size:13px;
}

.contact-item a:hover{
    color:#00c8ff;
}

.contact-form{
    padding:28px;

    background:#091625;

    border:1px solid rgba(255,255,255,.07);
    border-radius:15px;
}

.contact-form input,
.contact-form textarea{
    width:100%;

    margin-bottom:15px;
    padding:14px 15px;

    color:white;

    background:#0d1c2d;

    border:1px solid #1b334b;
    border-radius:8px;

    outline:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:#087df5;
}

.contact-form textarea{
    resize:vertical;
}

.contact-form button{
    cursor:pointer;
    width:100%;
}


/* ================= FOOTER ================= */

footer{
    padding:45px 8% 25px;

    text-align:center;

    background:#030914;

    border-top:1px solid rgba(255,255,255,.06);
}

.footer-top h2{
    font-size:25px;
}

.footer-top p{
    color:#66778c;
    font-size:12px;
    margin-top:6px;
}

.footer-links{
    display:flex;
    justify-content:center;
    gap:25px;
    margin:25px 0;
}

.footer-links a{
    color:#8997a8;
    font-size:12px;
}

.footer-links a:hover{
    color:#00c8ff;
}

.footer-social{
    margin-bottom:25px;
}

.footer-social a{
    color:#00c8ff;
    font-size:13px;
}

.copyright{
    color:#4e5e70;
    font-size:11px;
}


/* ================= RESPONSIVE ================= */

@media(max-width:900px){

    .nav-links,
    .nav-btn{
        display:none;
    }

    .menu-btn{
        display:block;
    }

    .hero{
        padding-top:50px;
        flex-direction:column;
        text-align:center;
    }

    .hero-content{
        max-width:700px;
    }

    .hero h1{
        font-size:58px;
    }

    .hero-buttons,
    .tech-list{
        justify-content:center;
    }

    .about-grid,
    .journey-grid,
    .contact-grid{
        grid-template-columns:1fr;
    }

    .skills-grid,
    .services-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .journey-image{
        text-align:center;
    }

    .projects-grid{
        grid-template-columns:1fr;
        max-width:600px;
    }

    .trust-grid{
        grid-template-columns:1fr;
        max-width:600px;
    }

}


@media(max-width:600px){

    .section{
        padding:75px 5%;
    }

    .hero{
        padding:55px 5%;
    }

    .hero h1{
        font-size:45px;
    }

    .hero h2{
        font-size:21px;
    }

    .hero-description{
        font-size:14px;
    }

    .hero-buttons{
        flex-direction:column;
    }

    .hero-image{
        width:100%;
        height:360px;
    }

    .hero-image img{
        width:280px;
        height:330px;
    }

    .section-heading h2{
        font-size:30px;
    }

    .about-points{
        grid-template-columns:1fr;
    }

    .skills-grid,
    .services-grid{
        grid-template-columns:1fr;
    }

    .project-buttons{
        flex-direction:column;
    }

    .project-buttons a{
        width:100%;
    }

    .stats{
        grid-template-columns:1fr;
    }

    .footer-links{
        flex-wrap:wrap;
    }

}.reveal{
    opacity:0;
    transform:translateY(25px);
    transition:.7s ease;
}

.reveal.show{
    opacity:1;
    transform:translateY(0);
}
